@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


html,
body {
  font-family: "Montserrat", sans-serif !important;
}

.jodit-wysiwyg a {
  color: #1d4ed8;
  /* Tailwind's blue-700 */
  font-weight: bold;
  text-decoration: underline dotted;
}

.text-content a {
  color: #1d4ed8;
  /* Tailwind's blue-700 */
  font-weight: bold;
  text-decoration: underline;
}

@theme {
  --color-background-gray: #E8E8E8;
  --color-dark-blue: #2D2F39;
  --color-red: #F33C38;
  --color-placeholder: #23192899;
  --color-heading: #000000;
  --color-success: #0FB450;
  --color-detail: #74788D;
  --color-yellow: #FAC10F;
  --color-dark-gray: #ACB8C81A;
  --color-light-red: #EA56591A;
  --color-green: #056464;
}

@layer utilities {
  .sidebar-menu {
    @apply w-full mt-8 flex flex-col gap-3;
  }

  .sidebar-link {
    @apply relative block w-full p-2 rounded-sm transition-all duration-200;
  }

  .sidebar-link::after {
    content: '';
    @apply absolute left-0 bottom-0 h-[2px] bg-primary;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-link:hover::after {
    transform: scaleX(1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  dt,
  label,
  input {
    @apply text-background;
  }

  dd {
    @apply text-muted;
  }


  p {
    @apply text-detail;
  }

}

:root {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.9611 0.2114 111.2239);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.9680 0.2110 109.7692);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.5555 0 0);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.8833 0.1763 93.9579);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6962 0.1955 32.3214);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.5555 0 0);
  --input: oklch(0.9611 0.2114 111.2239);
  --ring: oklch(0.9611 0.2114 111.2239);
  --chart-1: oklch(0.9611 0.2114 111.2239);
  --chart-2: oklch(0.9680 0.2110 109.7692);
  --chart-3: oklch(0.8833 0.1763 93.9579);
  --chart-4: oklch(0.5555 0 0);
  --chart-5: oklch(0.5413 0.0192 236.9682);
  --sidebar: #050A530;
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.9611 0.2114 111.2239);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8833 0.1763 93.9579);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.5555 0 0);
  --sidebar-ring: oklch(0.9611 0.2114 111.2239);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -0.75px hsl(0 0% 0% / 0.25);
  --shadow: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-md: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 2px 4px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 4px 6px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 8px 10px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.63);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.9611 0.2114 111.2239);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.9680 0.2110 109.7692);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.5555 0 0);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.8833 0.1763 93.9579);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6962 0.1955 32.3214);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.5555 0 0);
  --input: oklch(0.9611 0.2114 111.2239);
  --ring: oklch(0.9611 0.2114 111.2239);
  --chart-1: oklch(0.9611 0.2114 111.2239);
  --chart-2: oklch(0.9680 0.2110 109.7692);
  --chart-3: oklch(0.8833 0.1763 93.9579);
  --chart-4: oklch(0.5555 0 0);
  --chart-5: oklch(0.5413 0.0192 236.9682);
  --sidebar: #050A530;
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.9611 0.2114 111.2239);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8833 0.1763 93.9579);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.5555 0 0);
  --sidebar-ring: oklch(0.9611 0.2114 111.2239);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -0.75px hsl(0 0% 0% / 0.25);
  --shadow: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-md: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 2px 4px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 4px 6px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.25), 0rem 8px 10px -0.75px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0.25rem hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}